@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* ---------- Primary set-up ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    width: 60%;
    max-width: 1000px;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}


/* ---------- Colors ----------*/

:root {
    /*Primary color*/
    --green400: hsl(172, 67%, 45%);

    /*Secondary colors*/
    --green900: hsl(183, 100%, 15%);
    --grey500: hsl(186, 14%, 43%);
    --grey400: hsl(184, 14%, 56%);
    --grey200: hsl(185, 41%, 84%);
    --grey50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);

}

 /*Backgrounds*/
.bg-green900 {background-color: var(--green900) !important;}
.bg-green200 {background-color: var(--grey200);}
.bg-grey50 {background-color: var(--grey50);}
.bg-white {background-color: var(--white);}


/* ---------- Typos ----------*/

* {
    font-family: "Space Mono", monospace;
    color: var(--white);
}

h1 {
    color: var(--grey500);
    font-size: 2.5rem;
    font-weight: 300;
}

p, span, label { 
    color: var(--grey500);
    font-size: 0.75rem;
    font-weight: 600;
}

.very-big {
    font-size: 1.25rem;
    font-weight: 600;
}

.big {
    font-size: 1.25rem;
    font-weight: 500;
}

.small {
    font-size: 0.9rem;
    font-weight: 400;
}

.dollar {
    font-size: 1.2rem;
    color: var(--grey400);
    font-weight: 300;
}

.text-input::placeholder {
    font-size: 1.25rem;
}

.text-custom::placeholder {
    color: var(--green900);
    font-size: 1rem;
    font-weight: 600;
}

/* ---------- Box Styling ----------*/

section {
    flex : 1;
    padding: 1rem;
    border-radius: 1rem;
}

/* ---------- Inputs Styling ----------*/

/* Tips & Number */

.input-block {
    margin-bottom: 1rem;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    height: 50px;
}

input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    margin-left: 0.5rem;
}

.label-bottom-margin{
    margin-bottom: 0.4rem;
}
.inline-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Tips */
.three-per-line {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}

.three-per-line > button,
.three-per-line > input {
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* For the placeholder in Input */
}


