@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------- Primary set-up ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    width: 60%;
    max-width: 1000px;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

/* ---------- Colors ----------*/

:root {
    /*Primary color*/
    --green400: hsl(172, 67%, 45%);

    /*Secondary colors*/
    --green900: hsl(183, 100%, 15%);
    --grey500: hsl(186, 14%, 43%);
    --grey400: hsl(184, 14%, 56%);
    --grey200: hsl(185, 41%, 84%);
    --grey50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);

}

 /*Backgrounds*/
.bg-green900 {background-color: var(--green900);}
.bg-grey200 {background-color: var(--grey200);}
.bg-grey50 {background-color: var(--grey50);}
.bg-white {background-color: var(--white);}

/* ---------- Typos ----------*/

* {
    font-family: "Space Mono", monospace;
    color: var(--white);
}

h1 {
    margin-top: 2rem;
    margin-bottom: 6rem;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les spans */
    width: fit-content;
}

h1 span {
    color: var(--green900);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 1.2;
}

h1 span:first-child {
    letter-spacing: 0.7em;
    padding-left: 16px;
}

p, span, label { 
    color: var(--grey500);
    font-size: 1rem;
    font-weight: 600;
}

.very-big {
    font-size: 2rem;
    font-weight: 600;
    color: var(--green400)
}

.big {
    font-size: 1.25rem;
    font-weight: 500;
}

.dollar {
    font-size: 1.2rem;
    color: var(--grey400);
    font-weight: 300;
}

.text-input::placeholder {
    font-size: 1.25rem;
}

.text-custom::placeholder {
    color: var(--green900) !important;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* Alternative plus spécifique */
input.text-custom::placeholder {
    color: var(--green900);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* ---------- Box Styling ----------*/

.section-flex {
    flex: 1;
    padding: 1.5rem;
    border-radius: 1rem;
}

/* ---------- Inputs Styling ----------*/

/* Tips & Number */

.input-block {
    margin-bottom: 1rem;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    height: 50px;
    padding: 0 1rem;
}

.input-block:first-of-type div:hover {
    border: 1px solid var(--green400);
}

.input-box:first-of-type:hover {
    border: 1px solid orange;
}

input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    margin-left: 0.5rem;
}

input::placeholder {
    text-align: end;
    font-size: 1.2rem;
    color: var(--grey400);
    font-weight: 300;
}

.label-bottom-margin{
    margin-bottom: 0.4rem;
}
.inline-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Tips */
.three-per-line {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}

.three-per-line > button,
.three-per-line > input {
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* For the placeholder in Input */
}

.three-per-line > button:hover {
    background-color: var(--green400);
}

.three-per-line > input:focus {
    border: 1px solid var(--green400);
}

/* ---------- Outputs Styling ----------*/

.output {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.output div:first-child p:first-child {
    color: var(--white);
}


button:last-child {
    background-color: var(--grey400);
    color: var(--green900);
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
}

.bg-green900 button:last-child:hover {
    color: var(--green900);
    background-color: var(--green400);
}


/* ---------- Responsivness ----------*/

@media screen and (max-width: 1000px) {

    main {
    width: 80%;
    flex-direction: column;
    }
}